<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant= "MySql.Data.MySqlClient"  />
      <add name="MySql Data Provider" invariant= "MySql.Data.MySqlClient" description=".Net Framwork Data Provider for MySQL" type ="MySql.Data.MySqlClient"/>
    </DbProviderFactories> 
  </system.data>
  <connectionStrings>
    <add name ="AddressBook"
    connectionString ="Server=localhost;Port=3306;Database=addressbook;Uid=root;Pwd=;charset=ut8;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

</configuration>